Cuando quiero ver dos tipos diferentes de datos

TIPO (type)

In [ ]:
a = '2'
b =  2

if (type(a) == type(b)):      #type: par dientificar el dato, == es operador 'igual'
    print('Las variables son del mismo tipo de dato')
else:
    print('Las variables son de tipos de dato diferentes')

FOR & While

In [ ]:
# Investigar y realizar practicas

LISTAS

In [1]:
lista = [1,2,3,"Henry",True,1.2]

In [2]:
print(lista)

[1, 2, 3, 'Henry', True, 1.2]

In [3]:
type(lista)

list

In [5]:
#slicer
lista [1:3]

[2, 3]

In [21]:
##Steps
lista [0:3:] #Averiguar como seleccionar ciertos items del listado

[1, 2, 3]

In [23]:
#Modificar
print(lista)
lista[1] = "Perro"
print(lista)

[1, 2, 3, 'Henry', True, 1.2]
[1, 'Perro', 3, 'Henry', True, 1.2]

In [26]:
#Appernd
lista.append("append")
lista

[1, 'Perro', 3, 'Henry', True, 1.2, False, 'final', 'append']

In [27]:
#Insert
lista.insert(3, "indice 3") #agregar str
lista

[1, 'Perro', 3, 'indice 3', 'Henry', True, 1.2, False, 'final', 'append']

In [29]:
#index
lista.index(3)

2

In [30]:
#pop
ultimo_elemento = lista.pop()
print (ultimo_elemento)
print (lista)

append
[1, 'Perro', 3, 'indice 3', 'Henry', True, 1.2, False, 'final']

In [32]:
#concatenar
segunda_lista = ["Buenos aires", "Bogota", "Medellin"]
lista.extend (segunda_lista) #.extend (otralista) se van sumando listas
lista

[1,
 'Perro',
 3,
 'indice 3',
 'Henry',
 True,
 1.2,
 False,
 'final',
 'Buenos aires',
 'Bogota',
 'Medellin']

In [33]:
#ordenar
lista_numero = [6,5,8,9]
lista_numero.sort(reverse=True)
lista_numero

[9, 8, 6, 5]

In [43]:
lista = [1,2,3]
lista2 = [4,5,6]
lista3 = [7,8,9]
lista.extend(lista2)
lista2.extend(lista3) # revisar aca
print (lista)

[1, 2, 3, 4, 5, 6]

In [44]:
#contenencia
lista_letras = ["a","b","c"]
"c" in lista_letras

True

In [45]:
4 in lista_letras #validacion ejercicio anterior

False

In [46]:
#Desempaquetacion
# lista orginal | lista_letras = ["a","b","c"]
letra_1, letra_2,letra_3 = lista_letras
print(letra_1)
print(letra_2)
print(letra_3)

a
b
c

TUPLAS

In [88]:
#tupla
tupla = [1,2,3,4,5,6,7,8,9,0] #inmutable
print(tupla)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [89]:
type(tupla)

list

In [87]:
tuple(lista_letras)

('a', 'b', 'c')

In [86]:
## Contenencia 
4 in tupla

False

In [85]:
tupla.count("Python")

0

In [84]:
## Empaquetan
edades = 35, 34, 28, 21, 29
edades

(35, 34, 28, 21, 29)

In [83]:
type(edades)

list

In [90]:
a, b, c, d= edades[:4]
print(a)
print(b)
print(c)
print(d)

35
34
28
21

DICCIONARIO

In [49]:
#Diccionario = {"llave": valor}
alumnos = {"Maria":42,"Luis":21,"Miguel": 18, "Agus":18}
type(alumnos)

dict

In [50]:
#acceder a un valor
alumnos ["Miguel"]

18

In [51]:
#modificar valor
#original: alumnos = {"Maria":42,"Luis":21,"Miguel": 18, "Agus":18}
alumnos["Agus"] =19

In [52]:
alumnos

{'Maria': 42, 'Luis': 21, 'Miguel': 18, 'Agus': 19}

In [53]:
#acceder a llaves
alumnos.keys()

dict_keys(['Maria', 'Luis', 'Miguel', 'Agus'])

In [54]:
#acceder a valores
alumnos.values()

dict_values([42, 21, 18, 19])

In [55]:
#items
alumnos.items()

dict_items([('Maria', 42), ('Luis', 21), ('Miguel', 18), ('Agus', 19)])

In [ ]:
#modificar llave

Iteradores e iterables

In [57]:
#Iteraciones listas/Tuplas

#Recorrido
iterable = [1,3,5,7,9]
for numero in iterable:
    print(numero)

2
6
10
14
18

In [60]:
#Iteracion STR
texto = "python es muy usado en Ciencia de Datos"
for letra in texto:
    print(letra.upper(), end=" ")

P Y T H O N   E S   M U Y   U S A D O   E N   C I E N C I A   D E   D A T O S

In [61]:
#Iteracion diccionario
alumnos

{'Maria': 42, 'Luis': 21, 'Miguel': 18, 'Agus': 19}

In [62]:
#Iterar sobre diccionarios
for i in alumnos:
    print(i) #itera sobre llave

Maria
Luis
Miguel
Agus

In [63]:
for llave in alumnos.keys():
    print(llave)

Maria
Luis
Miguel
Agus

In [64]:
for valor in alumnos.values():
    print (valor)

42
21
18
19

In [65]:
for tupla in alumnos.items():
    print(tupla)

('Maria', 42)
('Luis', 21)
('Miguel', 18)
('Agus', 19)

Iterador

In [66]:
#
colores = ["Rojo","Verde","Azul"]

iterador_colores = iter(colores)

Funcion NEXT

In [67]:
next(iterador_colores)

'Rojo'

In [68]:
next(iterador_colores)

'Verde'

In [69]:
next(iterador_colores)

'Azul'

In [70]:
next(iterador_colores)#final de lista da error

StopIteration:

In [71]:
next(iterador_colores, None) #None para que no de error

Funcion ZIP

In [75]:
# Combina listas | funcion zip
nombre =["Maria","Juan","Alberto"]
edades=[18,45,60]
combinacion = zip(nombre, edades)
for tupla in combinacion:
    print(tupla)

('Maria', 18)
('Juan', 45)
('Alberto', 60)

Comprension de Listas

In [79]:
frutas = ["mango","coco","pera","kiwi","manzana"]
nueva_lista = []

for fruta in frutas:
    if "a" in fruta:
        nueva_lista.append(fruta)
nueva_lista
#omiti frutas con letra A

['mango', 'pera', 'manzana']

In [80]:
#Otra forma
nueva_lista = [fruta for fruta in frutas if "a" in fruta]
nueva_lista

['mango', 'pera', 'manzana']