## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 12
print (x)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
x = 8.5
print(type(x))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
x = 12
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = 'Emanuel'

5) Crear una variable que contenga un número complejo

In [7]:
num = 3 +2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type (num)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
Pi = 3,1426

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
vals = 'True';
valb = True;

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print (type(vals))
print (type(valb))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
suma = 2 + 1,5;

11) Realizar una operación de suma de números complejos

In [29]:
compl1 = 3 + 5j
compl2 = 4 + 1j

suma = (compl1 + compl2)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
real = 5

suma = (5 + compl1)

13) Realizar una operación de multiplicación

In [31]:
8 * 8

64

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
m = 2 ** 8
print (m)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [35]:
div = (27/4)
print(div)

6

16) De la división anterior solamente mostrar la parte entera

In [36]:
diva = (27//4)
print(diva)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
divb = (27%4)
print(divb)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [41]:
operacion = 6 * 4 + 3
print (operacion)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [44]:
var1 = 'Hola'
var2 = 'Henry'
suma = (var1 + var2)

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [46]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [47]:
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [49]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [57]:
num = 3
num -= 1
print (num)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [66]:
1<<2 # Desplazamiento (shift) derecho |estamos desplazando los bits de 1 dos lugares a la izquierda, y obtenemos 0b100, que es el equivalente binario de 4 en decimal.|

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [73]:
a = int (2) + int('2')
b = str (2) + str('2')
c =float (2) + float('2')
print(a)
print(b)
print(c)

4
22
4.0

26) Realizar una operación válida entre valores de tipo entero y string

In [76]:
str = 'Hola '
str2= 'Henry'

print(str + str2)

Hola Henry